<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Таксопарк(Админ панель)</title>
  <link href="/static/assets/bootstrap.rtl.min.css" rel="stylesheet">
  <script src="/static/assets/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar bg-body-tertiary">
    <div class="nav nav-pills">
      <a class="navbar-brand" href="/templates/index.html">
        <img src="/static/assets/logo.png" alt="logo" width="30" height="30" class="d-inline-block">
        Таксопарк "Черные паруса"
      </a>
      <ul class="nav pe-2">
        <li class="nav-item">
          <a class="nav-link activate text-black" href="#">Водители</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/templates/Tables/Cars.html">Автомобили</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/templates/Tables/Orders.html">Заказы</a>
        </li>
      </ul>
    </div>
  </nav>
  {% extends "Drivers.html" %}  
  <div class="container-xxl p-0 mt-3" style="min-height: 100%">
    <div>
      <div class="text-end">
        <a class="btn btn-success" href="/">Создать запись о водителе</a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">ФИО</th>
            <th scope="col">Машина</th>
            <th scope="col">Рейтинг</th>
          </tr>
        </thead>
        <tbody id="Drivers">
          <!--Здесь будут продукты-->
        </tbody>
      </table>
    </div>
  </div>
  <script src="/"></script>
</body>

</html>