<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Таксопарк(Админ панель)</title>
  <link href="/static/assets/bootstrap.rtl.min.css" rel="stylesheet">
  <script src="/static/assets/bootstrap.min.js"></script>
</head>

<body>

{% extends "Cars.html" %}  
  <nav class="navbar bg-body-tertiary">
    <div class="nav nav-pills">
      <a class="navbar-brand" href="/templates/index.html">
        <img src="/static/assets/logo.png" alt="logo" width="30" height="30" class="d-inline-block">
        Таксопарк "Черные паруса"
      </a>
      <ul class="nav pe-2">
        <li class="nav-item">
          <a class="nav-link" href="/templates/Tables/drivers.html">Водители</a>
        </li>
        <li class="nav-item">
          <a class="nav-link activate text-black" href="#">Автомобили</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-xxl p-0 mt-3" style="min-height: 100%">
    <div>
      <div class="text-end">
        <a class="btn btn-success" href="/">Добавить запись о машине</a>
      </div>
      {% block content %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Производитель</th>
            <th scope="col">Номер</th>
            <th scope="col">Цвет</th>
          </tr>
        </thead>
        <tbody id="Cars">
          {% for car in cars %}
          <tr>
            <td>{{ Cars.id }}</td>
            <td>{{ Cars.Manufacturer }}</td>
            <td>{{ Cars.Number }}</td>
            <td>{{ Cars.Color }}</td>
          </tr>
          {% endfor %}
        </tbody>
       
      </table>
       {% endblock %}
    </div>
  </div>
  <script src="/"></script>
</body>

</html>