<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/assets/logo.png">
    <link rel="stylesheet" href="/static/assets/bootstrap.rtl.min.css">
    <script src="/static/assets/bootstrap.min.js"></script>
    <title>Таксопарк</title>
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="nav">
            <a class="navbar-brand" href="/templates/index.html">
                <img src="/static/assets/logo.png" alt="logo" width="30" height="30" class="d-inline-block">
                Таксопарк "Черные паруса"
            </a>
            <ul class="nav pe-2">
                <li class="nav-item">
                    <a class="nav-link" href="/templates/drivers.html">Водители</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-black" aria-current="page" href="#">Автомобили</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/Orders.html">Заказы</a>
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>