{% extends "base.html" %}
{% block content %}

<table class="table ms-2 me-2 mt-1">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">ФИО</th>
      <th scope="col">Рейтинг</th>
      <th scope="col">Занятость</th>
      <th scope="col">Взаимодействия</th>
    </tr>
  </thead>
  <tbody>
    {% for driver in drivers %}
    <tr>
      <td>{{ driver.id }}</td>
      <td>{{ driver.full_name }}</td>
      <td>{{ driver.rating }}</td>
      <td>{% if driver.is_available %}Допустен{% else %}Не доступен{% endif %}</td>
      <td>
        <div class="d-flex gap-2">
          <form method="POST" action="{{ url_for('delete_Driver', id=driver.id) }}" novalidate>
            <button type="submit" name="_method" value="DELETE" class="btn btn-danger">🗑</button>
          </form>
          <form method="POST" action="{{ url_for('edit_driver_page', id=driver.id) }}" novalidate>
            <button type="submit" class="btn btn-warning">✏️</button>
          </form>
        </div>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="text-center m-2">Добавление записи о водителе</div>
<form method="POST" action="{{ url_for('add_Driver') }}" novalidate>
  <div class="form-check">
    <label for="full_name">ФИО</label>
    <input type="text" class="form-control" id="full_name" name="full_name" aria-required="true" />
  </div>
  <div class="form-check">
    <label for="rating">Рейтинг</label>
    <input type="number" class="form-control" id="rating" name="rating" required min="0" required max="5"
      aria-required="true" />
  </div>
  <div class="form-check">
    <label for="is_available">Занятость</label>
    <input type="text" class="form-control" id="is_available" name="is_available" value="False" />
    <small class="form-text text-muted">Здесь вводите False или True</small>
  </div>
  <button type="submit" class="btn btn-primary ms-4 m-2">Подтвердить</button>
</form>
{% endblock %}