{% extends "base.html" %}
{% block content %}
<div
    style="background-image: url('/templates/1.gif'); background-size: cover; background-position: center;  height: 100vh;">
    <div class="container pt-5">
        <div class="d-flex justify-content-center m-1">
            <div class="d-flex flex-column" style="max-width: 300px;">
                <img class="image-fluid" src="/static/assets/Logo1.png">
                <h1 class="text-center text-light m-1">Таксопарк</h1>
                <p class="text-center text-light">Доставим с ветерком</p>
                <a class="btn btn-light mt-1" href="/cars">Перечень водителей</a>
                <a class="btn btn-light mt-1" href="/drivers">Каталог автомобилей</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}